.main-container {
    display: flex;
    height: 100%;

    .left-container {
        width: 35%;
        box-sizing: border-box;
        padding: 20px;
        background-color: #039BE5;
        height: auto;
        color: #fff;
    }

    .main-content {
        width: calc(100vw - 35%);
        box-sizing: border-box;
        padding: 20px;
    }
}

.v-footer {
    background-color: #e7f2f7 !important;
    border-top: 1px solid #dfedf3;
}

.box {
    background-color: #fff;
    box-shadow: 0 1px 2px #000;
    
    .box-body {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 15px;
    }
}

.thumbs {
    padding: 35px;
    display: flex;
    gap: 20px
}

.thumbnail-box {
    background-color: #e7f2f7;
    box-shadow: none;
    border-radius: 20px;
    width: 25%;
    min-height: 200px;
    box-shadow: 0px 4px 0px 1px #dfedf3;
    border: 1px solid #dfedf3;

    .thumb-head {
        box-sizing: border-box;
        padding: 10px 20px;
        border-bottom: 1px solid #b5d5e4;
        font-size: 0.9em;
        text-transform: uppercase;
        color: #235065;
    }

    .box-body {
        box-sizing: border-box;
        padding: 10px 20px;
    }

    .value {
        font-size: 3em;
        font-weight: bolder;

        .unit {
            font-size: 1rem;
        }
    }
}