.main-container {
    display: flex;
    height: 100%;

    .left-container {
        width: 400px;
        box-sizing: border-box;
        background-color: #039BE5;
        height: auto;
        color: #fff;
        position: relative;
        
        .scroller {
            padding: 20px;
            height: 100%;
            overflow-y: auto;
        }
    }

    .main-content {
        width: calc(100vw - 400px);
        box-sizing: border-box;
        padding: 20px;
        min-height: 100vh;
    }

    @media(max-width: 950px) {
        display: block;

        .left-container {
            position: fixed;
            top: 0px;
            z-index: 999;
            left: -400px;
            transition: 0.3s;
            height: 100vh;

            &.open {
                left: 0px;
            }
        }

        .main-content {
            width: 100vw;
        }
    }
}

.v-footer {
    background-color: #e7f2f7 !important;
    border-top: 1px solid #dfedf3;
}

.box {
    background-color: #fff;
    box-shadow: 0 1px 2px #000;
    
    .box-body {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 15px;
    }
}

.thumbs {
    padding: 35px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @media(max-width: 425px) {
        padding: 0px;
    }
}

.thumbnail-box {
    background-color: #e7f2f7;
    box-shadow: none;
    border-radius: 20px;
    width: calc(25% - 15px);
    min-height: 200px;
    box-shadow: 0px 4px 0px 1px #dfedf3;
    border: 1px solid #dfedf3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width: 1300px) {
        width: calc(50% - 10px);
    }

    .thumb-head {
        box-sizing: border-box;
        padding: 10px 20px;
        border-bottom: 1px solid #b5d5e4;
        font-size: 0.9em;
        text-transform: uppercase;
        color: #235065;
    }

    .box-body {
        box-sizing: border-box;
        padding: 10px 20px;
        flex: 1;
    }

    .box-footer {
        box-sizing: border-box;
        padding: 10px 20px;
        font-size: 0.7em;
        color: #235065;
        text-align: right;
    }

    .value {
        font-size: 3em;
        font-weight: bolder;
        text-wrap: nowrap;
        color: #0086c7;

        .unit {
            font-size: 1rem;
        }
    }

    .minor-detail {
        font-size: 0.8em;
    }

    @media(max-width: 553px) {
        .value {
            font-size: 2em;
        }
    }
}